apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  selector:
    matchLabels:
      app: jellyfin
  replicas: 1
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.10.7
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          ports:
            - containerPort: 8096
              name: http
            - containerPort: 7359
              name: discovery
              protocol: UDP
          volumeMounts:
            - mountPath: /media
              name: movies
            - mountPath: /config
              name: config
            - mountPath: /dev/video10
              name: device-video10
            - mountPath: /dev/video11
              name: device-video11
            - mountPath: /dev/video12
              name: device-video12
      volumes:
        - name: movies
          persistentVolumeClaim:
            claimName: movies
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config-v2
        - name: device-video10
          hostPath:
            path: /dev/video10
        - name: device-video11
          hostPath:
            path: /dev/video11
        - name: device-video12
          hostPath:
            path: /dev/video12
